<body class="abuot-us bg-gray-200">


<!-- Navbar -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
        <a class="navbar-brand  text-white " href="#" rel="tooltip" data-placement="bottom" target="_blank">
            GPM
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item ms-lg-auto">
                    <a class="nav-link nav-link-icon me-2"
                       href="https://github.com/sanggi-wjg/gpm" target="_blank">
                        <i class="fa fa-github me-1"></i>
                        <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Star us on Github">Github</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-gradient-dark">
    <div class="page-header min-vh-45" style="background-image: url('/static/material_kit/assets/img/bg9.jpg');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h2 class="text-white">GitHub Profile Maker</h2>
                    <p class="lead mb-4 text-white opacity-8">It help you to make your github profile.
                        If you do not have the profile, try this.</p>
                </div>
            </div>
        </div>
    </div>
</header>