<body class="abuot-us bg-gray-200">


<!-- Navbar -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
        <a class="navbar-brand  text-white " href="/" rel="tooltip" data-placement="bottom">
            GPM
        </a>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-6">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       id="dropdownMenuPages8" data-bs-toggle="dropdown" aria-expanded="false">
{#                        <i class="material-icons opacity-6 me-2 text-md">dashboard</i>#}
{#                        <span class="material-icons-outlined">search</span>#}
                        Awesome Profiles
                        <img src="{{ url_for('static', path='/material_kit/assets/img/down-arrow-white.svg') }}"
                             alt="down-arrow"
                             class="arrow ms-2 d-lg-block d-none">
                        <img src="{{ url_for('static', path='/material_kit/assets/img/down-arrow-white.svg') }}"
                             alt="down-arrow"
                             class="arrow ms-2 d-lg-none d-block">
                    </a>
                    <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-lg mt-0 mt-lg-3"
                         aria-labelledby="dropdownMenuPages8">
                        <div class="d-none d-lg-block">
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                                Profiles
                            </h6>
                            <a href="/profiles" class="dropdown-item border-radius-md">
                                <span>Awesome Profiles</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item ms-lg-auto">
                    <a class="nav-link nav-link-icon me-2"
                       href="https://github.com/sanggi-wjg/gpm" target="_blank">
                        <i class="fa fa-github me-1"></i>
                        <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Star us on Github">Github</p>
                    </a>
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                    <a href="/login" id="btn_login"
                       class="btn btn-sm  bg-gradient-info  mb-0 me-1 mt-2 mt-md-0"
                       style="display: none">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-gradient-dark">
    <div class="page-header min-vh-45" style="background-image: url('/static/material_kit/assets/img/bg9.jpg');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h2 class="text-white">GitHub Profile Maker</h2>
                    <p class="lead mb-4 text-white opacity-8">It helps you to make your GitHub profile. If you do not
                        have the profile, try this.</p>
                </div>
            </div>
        </div>
    </div>
</header>