<section class="py-3 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-start mb-5 mt-5">
                <h3 class="text-dark z-index-1 position-relative">Complete! Click create markdown button</h3>
                <p class="text-dark opacity-8 mb-0">완료했습니다. Create 버튼을 눌러주세요.</p>
            </div>
        </div>
        <div class="row justify-space-between py-3">
            <div class="col-lg-4 mx-auto">
                <div class="input-group input-group-outline mb-4">
                    <button type="button" class="btn bg-gradient-info w-auto me-2"
                            onclick="save_markdown()">Save Markdown</button>
                </div>
            </div>
        </div>
    </div>
</section>