<section class="py-4 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-start mb-5 mt-5">
                <h3 class="text-dark z-index-1 position-relative">1. Enter GitHub name</h3>
                <p class="text-dark opacity-8 mb-0">GitHub에서 사용하는 이름을 입력해주세요</p>
            </div>
        </div>
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <div class="input-group input-group-outline mb-4">
                    <label class="form-label" for="user_github_name">GitHub Name</label>
                    <input class="form-control text-2xl" id="user_github_name" type="text" value="sanggi-wjg">
                </div>
            </div>
        </div>
    </div>
</section>