<section class="pb-5 position-relative bg-gradient-dark mx-n3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-start mb-5 mt-5">
                <h3 class="text-white z-index-1 position-relative">4. Choose Tech Stack</h3>
                <p class="text-white opacity-8 mb-0">사용 기술을 선택해주세요</p>
            </div>
        </div>
        <div class="row justify-space-between py-2">
            <div class="col-lg-8 mx-auto" id="tech_stack">

            </div>
        </div>
    </div>
</section>