<section class="py-4 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-start mb-5 mt-5">
                <h3 class="z-index-1 position-relative">3. Socials</h3>
                <p class="opacity-8 mb-0">활동하고 있는 Social를 입력해주세요.</p>
            </div>
        </div>
        <div class="row justify-space-between py-2">
            <div class="col-md-6">
                <div class="input-group input-group-dynamic mb-4">
                    <label class="form-label" for="basic-url">Tistory</label>
                    <span class="input-group-text" id="basic-addon3">https://{input}.tistory.com/</span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-dynamic mb-4">
                    <label class="form-label" for="basic-url">GitHub</label>
                    <span class="input-group-text" id="basic-addon3">https://github.com/{input}</span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
            </div>
        </div>
        <div class="row justify-space-between py-2">
            <div class="col-md-6">
                <div class="input-group input-group-dynamic mb-4">
                    <label class="form-label" for="basic-url">Naver Blog</label>
                    <span class="input-group-text" id="basic-addon3">https://blog.naver.com/{input}</span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-dynamic mb-4">
                    <label class="form-label" for="basic-url">Instagram</label>
                    <span class="input-group-text" id="basic-addon3">https://instagram.com/{input}</span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
            </div>
        </div>
    </div>
</section>